.list-view .list-cell:even {
    -fx-background-color:   #1e2769;

}

.list-view .list-cell:odd {
    -fx-background-color:   #1e2769;
}}

list-view .p {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.list-cell
{
  -fx-font: 15pt "Courier";
  -fx-text-fill: white;
}
.list-cell {
    -fx-alignment: center;
}

.list-view {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
